@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: black;
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  box-sizing: border-box;
  padding:0;
  margin: 0;
}

body {
  padding: 0
}

@keyframes spin-once{
  from{
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

.spin-once{
  animation: spin-once 1s ease-in-out 
}